#hero {
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.Fmk9IHYbXk91jjje6-LE7AHaEK&pid=Api&P=0&w=308&h=174");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
}

#profile-pic {
    height: 150px;
}

